
.countUp {
  font-size: 50px;
  text-align: center;
}
.icon_qiye {
  font-size: 30px;
  color:red;
}
.icon_zhengfu {
  font-size: 30px;
  color:green;
}
.icon_jinrong {
  font-size: 30px;
  color:blue;
}
